
init:
- appveyor version
- sh: echo $APPVEYOR_BUILD_WORKER_CLOUD
- sh: echo $APPVEYOR_BUILD_WORKER_IMAGE
- sh: gvm use go1.4
- sh: lsb_release -sr

test_script:
- vcpkg --version
- sh: |
    RED='\033[0;31m'
    NC='\033[0m'
    FLAG=false
    toolsarr=($TEST_TOOLS)
    for cmd in "${toolsarr[@]}"; do
      command -v $cmd || { echo -e "$RED$cmd NOT FOUND!$NC"; FLAG=true; }
    done
    set -x
    if [[ $(lsb_release -sr) = '16.04' ]]; then
      for cmd in easy_install
      do
        command -v $cmd || { echo -e "$RED$cmd NOT FOUND!$NC"; FLAG=true; }
      done
    fi
    set +x
    if $FLAG; then
      exit 1
    else
      exit 0
    fi
    
build: off
